<div class="container-fluid p-4">


  <form class="row g-4">
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name:</label>
      <input type="text" class="form-control" id="firstName">
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name:</label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="col-md-6">
      <label for="inputEmail" class="form-label">Email:</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="col-md-6">
      <label for="inputPassword" class="form-label">Password:</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <div class="col-md-6">
      <label for="country" class="form-label">Country:</label>
      <input type="text" class="form-control" id="country">
    </div>
    <div class="col-md-6">
      <label for="city" class="form-label">City:</label>
      <input type="text" class="form-control" id="city">
    </div>
    <div class="col-md-4">
      <label for="zipcode" class="form-label">Zip code:</label>
      <input type="text" class="form-control" id="zipcode">
    </div>
    <div class="col-md-4">
      <label for="street" class="form-label">Street</label>
      <input type="text" class="form-control" id="street">
    </div>
    <div class="col-md-4">
      <label for="houseNumber" class="form-label">House number:</label>
      <input type="text" class="form-control" id="houseNumber">
    </div>
    <div class="col-md-12">
      <label for="additional" class="form-label">Additional info:</label>
      <textarea class="form-control" aria-label="With textarea" id="additional"></textarea>
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn" style="background-color: var(--my-dark-blue); color: var(--text-color-light); position: absolute; left: 33%; right: 33%">
          Register
        </button>
    </div>
  </form>
</div>
